.hero {
    padding-top: 4em;
    margin: 0;
    height: 100vh;
    background: url('https://image.tmdb.org/t/p/original/p1F51Lvj3sMopG948F5HsBbl43C.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0px -250px 9vw rgba(0, 0, 0);
}

.add-btn {
    width: 38px;
    height: 38px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}

.cta-btn {
    width: 10rem !important;
    background-color: #E50914;
    text-transform: uppercase;
    font-weight: bold !important;
}