@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html, body, .App {
  background-color: #000000;
}
body, .App {
  font-family: 'Poppins', sans-serif;
}

.bgshadow {
  box-shadow: inset 0px 30px 20px rgba(0, 0, 0, 0.5);
}